@font-face {
  font-family: "Lexend Semibold";
  src: url(../../assets/fonts/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: "Lexend Regular";
  src: url(../../assets/fonts/Lexend-Regular.ttf);
}

.dashboard-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .balance-container {
    width: 100%;
    height: 120px;
    background: #d9d9d9;
    border-radius: 0px 0px 24px 24px;

    background-image: url("../../assets/balanceBg.svg");
    box-shadow: 0px 5px 20px rgba(102, 102, 102, 0.2);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    padding-top: 12px;

    .caption {
      font-family: "Lexend Semibold";
      font-size: 16px;
      color: #003c5c;
      height: 20px;
    }

    .balance {
      font-family: "Lexend Semibold";
      font-size: 32px;
      color: #003c5c;
      height: 48px;
    }
    .transfer-funds {
      border: none;
      outline: none;
      background-color: #004366;
      width: 125px;
      height: 20px;
      border-radius: 20px;

      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
    }
  }
  .coupons-section-wrapper {
    width: 100%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .caption-container {
      width: 295px;
      display: flex;
      justify-content: space-between;

      font-size: 16px;
      line-height: 20px;

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.15px;

      color: #003c5c;

      .bold {
        font-family: "Lexend Semibold";
      }
      .thin {
        font-family: "Lexend Regular";
        cursor: pointer;
      }
    }
    .coupons-wrapper {
      width: 100%;
      max-height: 410px;
      overflow-y: overlay;
      padding-bottom: 10px;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #004366;
        border-radius: 8px;
        transition: 0.3s ease-in-out;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #063650;
      }

      .coupons-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 400px;
        padding: 16px;
        row-gap: 10px;
      }
    }
  }
}
